:root {
    --color-primary-500: hsl(199, 100%, 36%);
    --color-primary-400: hsl(199, 100%, 46%);
    --color-secondary: hsl(36, 70%, 53%);
    --color-primary-200: hsl(199, 100%, 76%);
    --color-primary-100: hsl(199, 100%, 96%);
    --color-primary-50: hsl(199, 100%, 98%);
    --color-text: #333;
    --color-background: #fff;
    --font-xxl: 3rem;
    --font-xl: 2.25rem;
    --font-l: 1.5rem;
    --font-m: 1.25rem;
    --font-s: 1rem;
    --font-xs: 0.875rem;
    --shadow-regular: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --transition-fast: all 0.2s ease-in-out;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: var(--font-m);
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    min-width: 400px;
}

input, select, label.file {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 1.25rem 1.0rem;
    padding-bottom: 0.75rem;
    margin: 0;
    font-size: var(--font-m);
    border: none;
    border-bottom: 5px solid var(--color-primary-200);
    background-color: var(--color-primary-50);
    border-radius: 0.25rem;
    box-shadow: var(--shadow-regular);
    transition: all 0.2s ease-in-out;
}

input:hover, select:hover, label.file:hover {
    border-bottom-color: var(--color-primary-400);
    background-color: var(--color-primary-100);
}

form label {
    margin: 1.5rem 0;
    max-width: 100%;
    overflow: hidden;
}


input[type="file"] {
    display: none;
    position: relative;
}

label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label.file {
    display: flex;
    align-items: center;
    max-width: fit-content;
    justify-content: space-between;
    cursor: pointer;
    border: 5px solid var(--color-primary-200);
}

button {
    background-color: var(--color-primary-400);
    padding: 1rem;
    border: none;
    color: var(--color-background);
    cursor: pointer;
    transition: var(--transition-fast);
    width: 100%;
    border-radius: 0.25em;
    box-shadow: var(--shadow-regular);
}

button:hover {
    background-color: var(--color-primary-500);
}


section {
    border: 1px solid var(--color-primary-200);
    border-radius: 0.25rem;
    padding: 1rem;
}