<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PlantPure Communities | Teachable Tools</title>
    <meta name="description" content="Power editing and course management tools for Teachable">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <header>
        <h1>Teachable custom inputs</h1>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Bulk upload users</h2>
        <form>
            <label>Teachable username
                <input type="text" name="username">
            </label>
            <label>
                Teachable password
                <input type="password" name="password">
            </label>
        </form>
        <form id="enroll">
            </label>
            <label class="file" id="user-file-label">
                Upload users file (.csv)
                <input type="file" name="new_user_file" id="new_user_file">
                <p id="fileName"></p>
            </label>
            <label>
                Course
                <select name="course_id" id="course-select">
                    <option value="1541222">Community Rx</option>
                </select>
                <select name="course_id" id="course-select">
                    <option value="1091008">(1) Affiliate course &amp; resources</option>
                    <option value="1091021">Global 10-Day Jumpstart: The Nutrition - Climate Connection</option>
                    <option value="1086880">Global 10-Day Jumpstart: The Power of Nutrition</option>
                    <option value="1071344">MMF Master Class in Plant-based Clinical Nutrition (2020)</option>
                    <option value="1391691">MMF Plant-based Clinical Nutrition Forum</option>
                    <option value="1126835">MMF Master Class in Plant-based Clinical Nutrition</option>
                    <option value="1253211">Gift the MMF Master Class in Plant-based Clinical Nutrition</option>
                    <option value="1253821">Gift an individual MMF Master Class</option>
                    <option value="1252897">Fundamentals First: How and Why Plant-based Clinical Nutrition Works (#1 MMF Master Class)
                    </option>
                    <option value="1252898">Healing Hearts and Arteries with Plant-based Nutrition (#2 MMF Master Class)</option>
                    <option value="1252903">Overcoming Obesity and Reversing Type 2 Diabetes (#3 MMF Master Class)</option>
                    <option value="1252907">How to Vanquish Colitis, Crohn’s Disease and Other GI Disorders (#4 MMF Master Class)
                    </option>
                    <option value="1252909">Treating the Causes of Autoimmune Disease (#5 MMF Master Class)</option>
                    <option value="1252912">Strategies for Strong Bones and Healthy Joints (#6 MMF Master Class)</option>
                    <option value="1252914">How to Fuel a Plant-based Athlete (#7 MMF Master Class)</option>
                    <option value="1252916">Plant-based Programs for Healthy Pregnancies, Growing Kids, and High-functioning Seniors (#8
                        MMF Master Class)</option>
                    <option value="1252919">Cancer: Can Water Fasting and Plant-based Nutrition Help? (#9 MMF Master Class)</option>
                    <option value="1252921">Optimizing Vital Organ Function (#10 MMF Master Class)</option>
                    <option value="1252925">Eating Healthy in The Real World (#11 MMF Master Class)</option>
                    <option value="1252929">Course Summary and Meeting the Challenges Ahead (#12 MMF Master Class)</option>
                    <option value="1361938">Grow Your Own Fruits &amp; Veggies</option>
                    <option value="1416129">Healthy School Food</option>
                    <option value="1645300">Community Rx (Macon)</option>
                    <option value="1568342">Community Rx (Philadelphia)</option>
                    <option value="1541222">Community Rx (Pittsburgh)</option>
                    <option value="1561343">PlantPure Rx</option>
                    <option value="1645310">Community Rx (Santa Cruz)</option>
                </select>
            </label>
            <button type="button" id="refresh-courses">Refresh course list</button>
            <button type="submit">Add users</button>
        </form>
        <section id="results">
        <div id="loading">Loading...</div>
        <div id="error"></div>
        <div id="user-count"></div>
        <div id="table-wrapper"></div>
        </section>
    </main>
    <script src="static/index.js"></script>
</body>

</html>